.content-div {
    position: relative;
    top:50px;
    /* background: #000; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 2px 7px silver; */
}

h1 {
    font-size: 75px;
    color: #0076db;
    text-shadow: 2px 5px cadetblue;

}

.img-div {
    position: relative;
    top: -75px;
}