header{
    background: silver;
    padding:15px;
    box-shadow: 5px 2.5px black;
}
.website-logo {
    font-size: 25px;
}
.navbar-links-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar-links-ul li {
    font-size:18px;
}